.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.body{

  background-color: whitesmoke;
  

}

.nav1{
  font-size: 32px;
  display: flex;
  gap:12px;
}
.welcome{
  background-color:beige;
  width: 700px;
  height: 250px;
  margin-left: 400px;
  padding: 20px;
  margin-top: 50px;
}
.welcome1{
  color:steelblue;
}
.welcome2{
  color:tomato;
}
.not-found{
 height: 600px; 
 width: 700px;

}
.not-found1{
  color: crimson;
}
/* .not-found-total{
background-color: crimson;
color:cyan;
border-top:firebrick;
border-radius: 100px;
font-weight: bold;
font-family: monospace;
justify-content: center;
align-content: center;
align-items: baseline;
background-color:black;
} */
