.bit1{
    color:indianred;
    background-color: lemonchiffon;
}
.bit2{
    color:mediumblue;
    background-color: lemonchiffon;
}
.bit3{
    color:teal;
    font-family:sans-serif;
    letter-spacing:1px;
  
}
.bit{
    background-color:whitesmoke;

}
.bit4{
    background-color: whitesmoke;
    color: steelblue;
    letter-spacing: 1px;
}
.bit5{
    color: brown;
}