.header-container {
  display: flex;
  justify-content: flex-end;
  gap: 400px;
  font-size: 12px;
  background-color: darkcyan;
}
.header-logo {
  position: relative;
  bottom: 4px;
  color: crimson;
}
.header-detail-container {
  display: flex;
  justify-content: flex-end;
}
